{% if article-grid-item == '' %}{% assign article-grid-item = 'three-per-row' %}{% endif %}

{% assign article_has_image = false %}
{% assign img_tag = '<' | append: 'img' %}
{% if article.excerpt_or_content contains img_tag %}
  {% assign src = article.excerpt_or_content | split: 'src="' %}
  {% assign src = src[1] | split: '"' | first %}
  {% if src %}
    {% assign article_has_image = true %}
    {% assign image_src = src | replace: '_small', '_large' | replace: '_compact', '_large' | replace: '_medium', '_large' | replace: '_large', '_large' | replace: '_grande', '_large' %}
  {% endif %}
{% endif %}

<li class="grid-product three-per-row" id="product-{{ forloop.index | plus:paginate.current_offset }}">

  <div class="prod-image-wrap">  
    <div class="tile-image center-bg" style="background-image: url('{{ image_src }}');">
      <a href="{{ article.url }}" class="filled-link"></a>
    </div><!-- end .tile-image -->
  </div><!-- .prod-image-wrap -->
  
  <div class="prod-caption">
      <a href="{{ article.url }}" class="left prod-title">
        {{ article.title }}
      </a>
      <div class="clear"></div>
  </div><!-- .prod-caption -->

  <div class="prod-blurb">
    {{ article.content | strip_html | truncatewords: 12 }}
  </div><!-- end .prod-blurb -->
  
</li>

{% if product-grid-item == 'six-per-row' %}
{% cycle 'clear': '', '_large', '_large', '_large', '_large', '<div style="clear:both"></div>' %}
{% elsif product-grid-item == 'five-per-row' %}
{% cycle 'clear': '', '_large', '_large', '_large', '<div style="clear:both"></div>' %}
{% elsif product-grid-item == 'four-per-row' %}
{% cycle 'clear': '', '_large', '_large', '<div style="clear:both"></div>' %}
{% elsif product-grid-item == 'three-per-row' %}
{% cycle 'clear': '', '_large', '<div style="clear:both"></div>' %}
{% elsif product-grid-item == 'two-per-row' %}
{% cycle 'clear': '', '<div style="clear:both"></div>' %}
{% endif %}

{% if article-grid-item == 'six-per-row' %}
{% cycle 'clear': '', '_large', '_large', '_large', '_large', '<div style="clear:both"></div>' %}
{% elsif article-grid-item == 'five-per-row' %}
{% cycle 'clear': '', '_large', '_large', '_large', '<div style="clear:both"></div>' %}
{% elsif article-grid-item == 'four-per-row' %}
{% cycle 'clear': '', '_large', '_large', '<div style="clear:both"></div>' %}
{% elsif article-grid-item == 'three-per-row' %}
{% cycle 'clear': '', '_large', '<div style="clear:both"></div>' %}
{% elsif article-grid-item == 'two-per-row' %}
{% cycle 'clear': '', '<div style="clear:both"></div>' %}
{% endif %}