{% paginate blogs.recipes.articles by 6 %}
<!-- the top of your collections.liquid -->

<div class="section-wrapper grid-wrapper">

	<!-- START PRODUCTS -->
	<ul class="grid clearfix products-grid">
		{% for article in blogs.recipes.articles %}
			<!-- START PRODUCT {{ forloop.index | plus:paginate.current_offset }} -->
			{% comment %}	    <div class="product" id="product-{{ forloop.index | plus:paginate.current_offset }}">
						{% include 'product' with product %}
				</div> {% endcomment %}
				{% include 'article-grid-item' %}
				{% comment %}{{ article.title }}{% endcomment %}
			<!-- END PRODUCT {{ forloop.index | plus:paginate.current_offset }} -->
		{% endfor %}
	</ul>

{% if paginate.next %}
	<div id="more">
		<a href="{{ paginate.next.url }}" class="button">see more</a>
		<div class="spinner"></div>
	</div><!-- end #more -->
{% endif %}

<div id="product-list-foot"></div>
<!-- END PRODUCTS -->

<!-- the bottom of your collections.liquid -->
{% endpaginate %}

</div><!-- end .section-wrapper -->