{% comment %}
  A word on drop-down menus: Shopify has no concept of them.
  Drop-down menus in Shopify themes are a hack that relies on a naming convention.
  To create a drop-down menu, the merchant must create a link list that has the same name as the link he wants the drop-down for.
  For example, if he wants a drop-down under a 'Shop by brand' link (say, he has such link in his Main Menu), he needs to create a linklist called 'Shop by brand', and populate it with links. Once he has done that, there'll be a drop-down under 'Shop by brand'.
  Shopify has a visual how-to guide here: http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu.
  The naming convention hack won't work well if a shop's navigation uses non-English characters. There's a much more verbose coding solution that handles non-English characters here: http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/translations/can-i-have-drop-down-menus-that-use-non-english-characters.
  A word on sub-categories: Shopify manages sub-categories using product tags: http://docs.shopify.com/manual/configuration/store-customization/page-specific/collections/subcategories
{% endcomment %}

<nav role="navigation" class="navigation">
  <div class="contact-row">
    <div class="left">
      {% assign ph_ary = shop.phone | split: '' %}
      {% assign phone = ph_ary[0] | append: '-' | append: ph_ary[1] | append: ph_ary[2] | append: ph_ary[3] | append: '-' | append: ph_ary[4] | append: ph_ary[5] | append: ph_ary[6] | append: '-' | append: ph_ary[7] | append: ph_ary[8] | append: ph_ary[9] | append: ph_ary[10] %}
      
      <div class="col contact-col">
        <a href="mailto:{{ shop.email }}">contact us</a>
      </div><!-- end .contact-col -->

      <div class="col contact-col">
        call us <a href="tel:{{ shop.phone }}">{{ phone }}</a>
      </div><!-- end .contact-col -->

      <div class="col contact-col last-contact-col">
        <span>visit us at</span>
        <div class="social-icons col">
          <div class="col sprite social-icon twitter"><a class="filled-link" href="https://twitter.com/LogBarn1912"></a></div>
          <div class="col sprite social-icon facebook"><a class="filled-link" href="https://www.facebook.com/pages/LOG-BARN-1912/292666814901?fref=ts"></a></div>
        </div><!-- end .social-icons -->
      </div><!-- end .contact-col -->
    </div><!-- end .left -->

    <div class="clear"></div>

  </div><!-- end .contact-row -->
  <ul class="nav full-justify">
    {% for link in linklists.main-menu.links %}
      {% assign has_sub_menu = false %}
      {% assign has_sub_categories = false %}
      {% assign parent_link_active = false %}
      {% assign child_list_handle = link.title | handle %}
      {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
        {% assign has_sub_menu = true %}
        {% for l in linklists[child_list_handle].links %}
          {% if handle != blank and handle == l.object.handle %}
            {% assign parent_link_active = true %}
          {% elsif page_title == l.title %}
            {% assign parent_link_active = true %}
          {% endif %}
        {% endfor %}
      {% elsif link.type == 'collection_link' and link.object.all_tags.size > 0 %}
        {% assign has_sub_categories = true %}
      {% endif %}
      <li class="{% if link.active or parent_link_active %} active{% endif %}{% if has_sub_menu or has_sub_categories %} has-dropdown{% endif %}{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}">
        <a href="{{ link.url }}">{{ link.title }}</a>
        
        {% comment %}{% if has_sub_menu or has_sub_categories %} <i class="fa fa-angle-down"></i>{% endif %}</a> {% endcomment %}
        {% if has_sub_menu or has_sub_categories %}
          <ul class="sub-nav nav">
            <div class="section-wrapper">
              {% if has_sub_menu %}
                {% for l in linklists[child_list_handle].links %}
                <li class="{% if l.active %} active{% endif %}">
                  <a href="{{ l.url }}">{{ l.title }}</a>
                </li>
                {% endfor %}
              {% elsif has_sub_categories %}
                {% for tag in link.object.all_tags %}
                <li class="{% if current_tags contains tag %} active{% endif %}">
                  <a href="{{ link.url }}/{{ tag | handle }}">{{ tag }}</a>
                </li>
                {% endfor %}
              {% endif %}
              <span class="justify-span"></span>
            </div><!-- end .section-wrapper -->
          </ul>
        {% endif %}

      </li>
    {% endfor %}
    {% include 'cart' %}
    <span class="justify-span"></span>
{% comment %}    <li class="show-on-small{% if template == 'search' %} active{% endif %}">
      <a href="/search">
        <i class="fa fa-search"></i>
      </a>
    </li>{% endcomment %}
  </ul><!-- end .nav -->

  <div class="toggle-menu">
    <div class="menu-switch right"></div>
    {% capture page_title %}{{ page.title }}{{ blog.title }}{{ collection.title }}{% endcapture %}
    {% if template == 'index' %}
      {% assign page_title = 'home' %}
    {% endif %}
    <div class="current-page-title right">{{ page_title }}</div>
    <div class="clear"></div>
  </div><!-- end .toggle-menu -->

</nav>
