<div class="section-wrapper product-wrapper">
  <div class="product">
  
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
    <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />

    {% assign article_has_image = false %}
    {% assign article_has_second = false %}
    {% assign img_tag = '<' | append: 'img' %}
    {% if article.excerpt_or_content contains img_tag %}
      {% assign src = article.excerpt_or_content | split: 'src="' %}
      {% assign main = src[1] | split: '"' | first %}
      {% if main %}
        {% assign article_has_image = true %}
        {% assign main_image_src = main | replace: '_small', '' | replace: '_compact', '' | replace: '_medium', '' | replace: '_large', '' | replace: '_grande', '' %}
      {% endif %}
      {% assign second = src[2] | split: '"' | first %}
      {% if second %}
        {% assign article_has_second = true %}
        {% assign second_image_src = second | replace: '_small', '' | replace: '_compact', '' | replace: '_medium', '' | replace: '_large', '' | replace: '_grande', '' %}
      {% endif %}
    {% endif %}

    {% if article_has_image %}
      <div class="product-photos col-1-4">
    
        <div class="product-photo-container">
          <div class="tile-image center-bg" style="background-image: url({{ main_image_src }});"></div>
        </div>

        {% if article_has_second %}
          <ul class="product-photo-thumbs clearfix grid">
            <li class="product-photo-thumb">
              <a href="{{ second_image_src }}" target="_blank">
                <img src="{{ second_image_src }}" class="nutrition-img" />
              </a>
            </li>
          </ul>
        {% endif %}

      </div><!-- .product-photos -->
    {% endif %}
    
    <div class="product-details {% if article_has_image %}col-3-4{% endif %}">
      
      <div class="product-meta">
        <div class="left">
          <h1 itemprop="name" class="product-title section-title">{{ article.title }}</h1>
        </div><!-- end .left -->
        <div class="clear"></div>

      </div><!-- end .product-meta -->
      
      
      <div id="product-description" class="rte" itemprop="description">
        {{ article.content }}
      </div>

      
    </div><!-- .product-details -->
    <div class="clear"></div>

  </div><!-- end .product -->

</div><!-- end .section-wrapper -->