{% assign page = pages[settings.homepage_page] %}
<div class="page-section main-section home-page">
	
	<div class="section-wrapper homepage-slider">
		<div class="owl-carousel home-carousel">
			{% for article in blogs.home-slider.articles %}

				<div class="slide">
					{% comment %}Find article image{% endcomment %}
					{% assign article_has_image = false %}
					{% assign img_tag = '<' | append: 'img' %}
					{% if article.excerpt_or_content contains img_tag %}
						{% assign src = article.excerpt_or_content | split: 'src="' %}
						{% assign main = src[1] | split: '"' | first %}
						{% if main %}
							{% assign article_has_image = true %}
							{% assign main_image_src = main | replace: '_small', '' | replace: '_compact', '' | replace: '_medium', '' | replace: '_large', '' | replace: '_grande', '' %}
						{% endif %}
					{% endif %}

					{% comment %}Find article link{% endcomment %}
					{% assign article_has_link = false %}
					{% assign a_tag = 'href' %}
					{% if article.content contains a_tag %}
						{% assign href = article.content | split: 'href="' %}
						{% assign href = href[1] | split: '"' | first %}
						{% if href %}
							{% assign article_has_link = true %}
						{% endif %}
					{% endif %}

					<div class="tile-image center-bg" style="background-image: url({{ main_image_src }});">
						{% if article_has_link %}
							<a href="{{ href }}" class="filled-link"></a>
						{% endif %}
					</div><!-- end .tile-image -->
					<div class="slide-caption">
						<div class="caption-inside">
							{{ article.content }}
						</div><!-- end .caption-inside -->
					</div><!-- end .slide-caption -->
				</div><!-- end .slide -->

			{% endfor %}
		</div><!-- end .home-carousel -->
	</div><!-- end .homepage-slider -->

	<div class="section-wrapper product-collections">
		<div class="grid-section grid-group">

			<div class="grid-col span-1-of-2 collection-tile">
				<div class="tile-image center-bg" style="background-image: url({{collections.meat-cheese.image | img_url: 'grande'}});">
					<a class="tile-label button" href="{{collections.meat-cheese.url}}">{{collections.meat-cheese.title}}</a>
					<a class="filled-link" href="{{collections.meat-cheese.url}}"></a>
				</div><!-- end .tile-image -->
			</div><!-- end .collection-tile -->

			<div class="grid-col span-1-of-2 collection-tile">
				<div class="tile-image center-bg" style="background-image: url({{collections.pies-tarts.image | img_url: 'grande'}});">
					<a class="tile-label button" href="{{collections.pies-tarts.url}}">{{collections.pies-tarts.title}}</a>
					<a class="filled-link" href="{{collections.pies-tarts.url}}"></a>
				</div><!-- end .tile-image -->
			</div><!-- end .collection-tile -->

			<div class="grid-col span-1-of-3 collection-tile">
				<div class="tile-image center-bg" style="background-image: url({{collections.gift-shop.image | img_url: 'grande'}});">
					<a class="tile-label button" href="{{collections.gift-shop.url}}">{{collections.gift-shop.title}}</a>
					<a class="filled-link" href="{{collections.gift-shop.url}}"></a>
				</div><!-- end .tile-image -->
			</div><!-- end .collection-tile -->

			<div class="grid-col span-1-of-3 collection-tile">
				<div class="tile-image center-bg" style="background-image: url({{collections.jars.image | img_url: 'grande'}});">
					<a class="tile-label button" href="{{collections.jars.url}}">{{collections.jars.title}}</a>
					<a class="filled-link" href="{{collections.jars.url}}"></a>
				</div><!-- end .tile-image -->
			</div><!-- end .collection-tile -->

			<div class="grid-col span-1-of-3 collection-tile">
				<div class="tile-image center-bg" style="background-image: url({{collections.treats.image | img_url: 'grande'}});">
					<a class="tile-label button" href="{{collections.treats.url}}">{{collections.treats.title}}</a>
					<a class="filled-link" href="{{collections.treats.url}}"></a>
				</div><!-- end .tile-image -->
			</div><!-- end .collection-tile -->
			
		</div><!-- end .grid-group -->
	</div><!-- end .product-collections -->

	<div class="section-wrapper partners-slider">
		<div class="section-title">our retail partners</div>
		<div class="owl-carousel partner-carousel">
			{% for article in blogs.retail-partners.articles %}

				<div class="slide">
					{{ article.content }}
				</div><!-- end .slide -->

			{% endfor %}
		</div><!-- end .home-carousel -->
	</div><!-- end .homepage-slider -->

	{% include 'locations' %}

	{% include 'announcements' %}

</div><!-- end .main-section -->
